@media(max-width:768px) {
    .hero {
        left: 0;
    }
    .gallery {
        flex-direction: column;

        &__left {
            margin-top: 0;
        }

        &__item {    
            max-width: calc(var(--index) * 30);
        }
    }
}